

<nav id="nav"  class="p-3 text-bg-dark">
    <div class="logo">
     <img src="assets/image001.png" width="40px" alt="this is logo">
   </div>
   

  
     <div class="icon">
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle btn btn-warning" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/img.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>USER</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Login</a></li>
          <li><a class="dropdown-item" href="#">SignUp</a></li>
          
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
     </div>
   </nav>






   <app-side-nav></app-side-nav>
   
   
   