#nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 12, 22);
    margin: 10px;
    
  }
 
 .icon{
    display: flex;
    margin: 5px;
    color: rgb(240, 17, 17);
 }
 
 
  .bootstrap-wrapper{
   margin: 10px;
  }
  .logo{
   background-color: rgb(243, 241, 237);
   margin: 5px;
  }
  
 