// .card-body{
//     display:flex;
//     flex-direction: row;
// }
.bootstrap-wrapper{
    margin: 10px;
}

.card-body{
width: auto;
}
#card2{
    padding: 10px;
}
.row{
    margin: 5px;
}