<!-- card 1 -->
<div class="row">
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <div
          class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
          style="width: 280px"
        >
          <span class="fs-4">Exam Course Portal</span>
          <hr />
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a routerLink="/home" class="nav-link active" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#home"></use>
                </svg>
                Home
              </a>
            </li>
            <li>
              <a routerLink="/exam-course" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#speedometer2"></use>
                </svg>
                Exam Course List
              </a>
            </li>
            <li>
              <a routerLink="/addNewCourse" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#table"></use>
                </svg>
                Add New Courses
              </a>
            </li>
            <li>
              <a routerLink="/courseedit" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#grid"></use>
                </svg>
                Course Edit
              </a>
            </li>
            <li>
              <a routerLink="/home"  class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#people-circle"></use>
                </svg>
                Customers Support
              </a>
            </li>
          </ul>
          <hr />
        </div>
      </div>
    </div>
  </div>

  <!-- card 2 -->
  <div class="col-sm-9" id="card2">
    <div class="card">
      <div class="card-body">
        
          <router-outlet></router-outlet>
        
      </div>
    </div>
  </div>
</div>
