// .confirmbtn{
//     margin: 5px;
//     display: flex;
//     justify-content: end;
// }
.mb-3{
    padding: 20px;
}
.card{
    border: 5px solid rgb(127, 255, 212);
}
.btn{
    display: flex;
    justify-content: center;
}